<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2016-12-13T06:08:46Z</date>
	<key>WorkspacePath</key>
	<string>/Users/nwtsai/Documents/IOS Apps/Pitch Perfect/Pitch Perfect.xcodeproj</string>
</dict>
</plist>
